BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 80

SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

AlignOperands: Align
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
InsertNewlineAtEOF: true

Language: Cpp
Standard: c++17
